{% extends 'base.html.twig' %}

{% block title %}Creating account...{% endblock %}

{% block body %}


<div class="container">

    <div class="col-sm-10">
        {{ form(registration_form) }}
    </div>

</div>
{% endblock %}
