body {
  height: 100vh;
  margin:0;
  padding:0;
  background: #3b4351;
  color:black;
  /* font-family: 'Righteous', cursive; */
  font-family: 'Fugaz One', cursive;
}

.home {
  position:relative;
  min-height:100vh;
  /* text-align:center; */
}

.section {
  margin-bottom: 190px;
}

.intro {
  position: absolute;
  top: 3%;
  left: 60%;
  width: 50vw;
  -webkit-transform: translate(-50%,-50%);
  z-index: 2;
}



.intro .intro-left h1{
  font-size: 40px;
  color: black;
}
.intro .intro-left {
  /* display: inline-block; */
  padding-right: 20px;
}

/* *, :after, :before{
  box-sizing: inherit;
} */

.intro .intro-right {
  display: inline-block;
  text-align: left;
  padding-left: 30px;
  /* position: relative; */
}

.intro .intro-right h2, .intro .intro-right h4 {
  border: none;
  padding: 0;
  margin: 0;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.about-title{
  color: #3b4351;
  font-size: 1.5em;
}

.intro .intro-right:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  height: 89%;
  width: 10px;
  background: black;
}
.intro .intro-right:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  height: 89%;
  width: 10px;
  background: black;
}

.timeline {

  position : relative;
  overflow: hidden;
}

.timeline-item:before{
  content:"";
  position: absolute;
  background-color:#3b4351;
  width:3px;
  height: 100%;
  left:550px;
}

.timeline-item{

  margin: 0 74px;
}

.timeline-item-details {
  display:inline-block;

  margin-bottom: 64px;
}
.timeline-item-details:hover {
  text-decoration:none;
}

.timeline-item:first-child .timeline-item-details{
  margin-top: 64px;
}

.timeline-item-details-date, .timeline-item-details-marker, .timeline-item-details-description {
  float: left;
  margin-left:-20px;
}

.timeline-item-details-date{
  font-size: 1.3em;
  margin-left: 500px;

}
.timeline-item-details-date-right{
  font-size: 1.3em;
  margin-left:350px;
}
.timeline-item-details-marker {
  position:absolute;
  z-index: 10;
  border-radius: 50%;
  background-color: #1F7FA6;
  width: 32px;
  height: 32px;
  border: 3px solid #FFF;
  margin-left:461px;
  transition: transform .3s, background-color .3s, border .3s;
}
.timeline-item-details-marker-right {
  position:absolute;
  z-index: 10;
  border-radius: 50%;
  background-color: #1F7FA6;
  width: 32px;
  height: 32px;
  border: 3px solid #FFF;
  margin-left:461px;
  transition: transform .3s, background-color .3s, border .3s;
}

.timeline-item-details:hover .timeline-item-details-marker{
  transition: scale(1.4);
  background-color: #FFF;
  border: 3px solid #1F7FA6;
}


.timeline-item-details-description{
  padding: 16px;
  color:#3b4351;
  background-color:#FFF;
   width:400px;
   border-radius:4px;
   margin-left: 75px;
   margin-top:-20px;
   word-wrap:break-word;
   opacity:0.5;
   transition: opacity .3s;
}
.timeline-item-details-description-right{
  padding: 16px;
  color:#3b4351;
  background-color:#FFF;
   width:400px;
   border-radius:4px;
   margin-left: 479px;
   margin-top:-20px;
   word-wrap:break-word;
   opacity:0.5;
   transition: opacity .3s;
}

.timeline-item-details:hover .timeline-item-details-description,.timeline-item-details:hover .timeline-item-details-description-right{
  opacity: 1;
}

.infos, .infos a, .infos a:hover  {
  color: #1F7FA6;
  text-decoration: none;
}

.infos-article{
  font-size: 50px;
  margin: 10px 0px;
  text-decoration : underline;
  color: #1F7FA6;
}

.container {
  border-radius: 5px;
  margin-top: 15px;
  padding-top:15px; 
  background-color: #f2e6dd;
}

.date {
  color: darkgray;
  display:inline;
  padding-left:10px;
  text-decoration: underline;
  font-size: 15px;
}
.presentation {
  font-family : 'Raleway', sans-serif;

}

.separateur{
  width: 50%;
  /* background-color: darkgray; */
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0),darkgray, rgba(0, 0, 0, 0));
}

.separateur-exp{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, darkgray, #ccc);
}

.list{
  list-style:none;
}

.intro-corp{
color: dimgrey;
font-family: 'Raleway', sans-serif;
}

.icon-hobbies{
  width: 128px;
  height: 128px;
}

.description-hobby h3{
  font-size: 20px;
}
.description-hobby p{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

#content { }
#content h2 { font: bold 30px Helvetica, Arial, Sans-serif; color:#eee; text-shadow: 0px 2px 6px #333; margin-left:400px; padding-top:20px; }

/* BAR CHART */
#bar { list-style:none;  }
#bar li { }


/* Last bottom should have a shadow */
/* #bar li div.bottom { -moz-box-shadow: 0 10px 10px hsla(0,0%,0%,.2); -webkit-box-shadow: 0 10px 30px hsla(0,0%,0%,.2); box-shadow: 0 10px 30px hsla(0,0%,0%,.2); } */

/* Ellipse top */
#bar li div.top { background-color:rgba(213,238,241,0.5); position:relative; float:left; margin-left:10px;
	width:40px; height:100px; -moz-border-radius: 40px/100px; -webkit-border-radius: 40px 100px; border-radius: 40px/100px;
	/* -webkit-transition-property: margin-left;
	-webkit-transition-duration: 500ms; */
}
#bar li div.top img { margin-left:10px; margin-top:15px; }

/* Bar bottom */
#bar li div.bottom { position:relative; margin:5px 0; width:600px;
	height:100px; -moz-border-radius: 40px/100px; -webkit-border-radius: 40px 100px; border-radius: 40px/100px;
	/* background:-moz-linear-gradient(-90deg, #97a7a9, #b8cbcd); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#97a7a9), to(#b8cbcd)); */
	/* -webkit-transition-property: width;
	-webkit-transition-duration: 500ms;*/
} 
#bar li div.bottom div.infobox { padding:0px 0 0 600px;
	/* -webkit-transition-property: color;
	-webkit-transition-duration: 500ms; */
}
#bar li div.bottom div.infobox h3 {  font-family: 'Raleway', sans-serif; }
#bar li div.bottom div.infobox p { font-family:"Lucida Grande",Arial,Helvetica,Sans-Serif; opacity: 1; text-shadow: 0px 5px 5px #111;
	/* -webkit-transition-property: opacity;
	-webkit-transition-duration: 500ms; */
}

/* General hover actions */
#bar li:hover div.bottom div.infobox { color:black; text-shadow: 0px 5px 5px #111; }
#bar li:hover div.bottom div.infobox p { opacity:1; }


/* HTMl */


#html div.top { z-index:99; }
#html div.bottom { z-index:98; height:150px; }
#html div.top { z-index:999; background-color:#1f81ac; margin-left:160px; }
#bar #html div.bottom { z-index:998; background-color:#1a6c90; width:480px; height:40px;
	background:-moz-linear-gradient(-90deg, #1a6c90, #14506b); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#1a6c90), to(#14506b)); }

/* CSS */
#php div.top { z-index:97; }
#php div.bottom { z-index:96; height:200px; }
#php:hover div.top { z-index:997; background-color:#bc003c; margin-left:210px; }
#bar #php div.bottom { z-index:996; background-color:#9d0032; width:510px;height:40px;
	background:-moz-linear-gradient(-90deg, #9d0032, #7a0027); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#474a8a), to(#252861)); }

/* Javascript */
#js div.top { z-index:95; }
#js div.bottom { z-index:94; height:250px; }
#js:hover div.top { z-index:995; background-color:#d98f23; margin-left:270px; }
#bar #js div.bottom { z-index:994; background-color:#b6781e; width:420px;height:40px;
	background:-moz-linear-gradient(-90deg, #b6781e, #916018); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#f0db4f), to(orange)); }

/* Wordpress */
#wordpress div.top { z-index:93; }
#wordpress div.bottom { z-index:92; height:100px; }
#wordpress:hover div.top { z-index:993; background-color:#7da864; margin-left:110px; }
#bar #wordpress div.bottom { z-index:992; background-color:#698d54; width:540px;height:40px;
	background:-moz-linear-gradient(-90deg, #698d54, #506b40); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#21759b), to(#21559b)); }

/* Symfony */
#symfony div.top { z-index:91; }
#symfony div.bottom { z-index:90; height:120px; }
#symfony:hover div.top { z-index:991; background-color:#3f1150; margin-left:130px; }
#bar #symfony div.bottom { z-index:990; background-color:#340e43; width:480px;height:40px;
	background:-moz-linear-gradient(-90deg, #340e43, #1a0721); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#5a5a5a), to(#333333)); }
  
/* Bootstrap */
#bootstrap div.top { z-index:91; }
#bootstrap div.bottom { z-index:90; height:120px; }
#bootstrap:hover div.top { z-index:991; background-color:#3f1150; margin-left:130px; }
#bar #bootstrap div.bottom { z-index:990; background-color:#340e43; width:450px;height:40px;
  background:-moz-linear-gradient(-90deg, #340e43, #1a0721); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#602c50), to(#2e0e24)); }

  /* BDD */
#mysql div.top { z-index:91; }
#mysql div.bottom { z-index:90; height:120px; }
#mysql:hover div.top { z-index:991; background-color:black; margin-left:130px; }
#bar #mysql div.bottom { z-index:990; background-color:black; width:510px;height:40px;
  background:-moz-linear-gradient(-90deg, grey, grey); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#00758f), to(#024250)); }

  /* GIT */
#git div.top { z-index:91; }
#git div.bottom { z-index:90; height:120px; }
#git:hover div.top { z-index:991; background-color:#3f1150; margin-left:130px; }
#bar #git div.bottom { z-index:990; background-color:#340e43; width:420px;height:40px;
  background:-moz-linear-gradient(-90deg, #340e43, #1a0721); background:-webkit-gradient(linear, 0 top, 0 bottom, from(orange), to(rgb(146, 95, 0))); }

  /* Reseaux */
#reseaux div.top { z-index:91; }
#reseaux div.bottom { z-index:90; height:120px; }
#reseaux:hover div.top { z-index:991; background-color:#3f1150; margin-left:130px; }
#bar #reseaux div.bottom { z-index:990; background-color:#340e43; width:390px;height:40px;
  background:-moz-linear-gradient(-90deg, #340e43, #1a0721); background:-webkit-gradient(linear, 0 top, 0 bottom, from(rgb(73, 156, 73)), to(rgb(39, 77, 39))); }


#homepage-container{
 box-shadow: 5px 5px 60px black;
}

#mail-top{
  text-transform: none;
}

#photo_profil{
  height: 15%;
  width: 15%;
  border-radius:100%;
  z-index: 1;
}

#typed {
  color: #1F7FA6;
}

#anglais{
  background-color: darkblue;
}
#espagnol{
  background-color: orange;
}
#russe{
  background-color: red;
}

#form-container{
  background-color:#3b4351;
}