<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>WebKingdom &rarr;
            {% block title %}{% endblock %}
        </title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/animate.css">
        {# <link rel="stylesheet" href="/css/timelinr.css"> #}
        <link href="/css/style.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        {# <script src="/js/jquery.min.js"></script>
        <script src="/js/timelinr.js"></script>
        <script src="/js/bootstrap.min.js"></script>  #}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/wow.js"></script>
              <script>
              new WOW().init();


                $(function () {
                    $('[data-toggle="tooltip"]').tooltip();
                });
              </script>
              
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    
      
        {% block body %}{% endblock %}
        
        
</html>           